main {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 16px;
    height: 80vh;
  }

  .forms {
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .products {
    width: 23%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }